       
<html>

	<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
	<body>
		<link rel="stylesheet" type="text/css" href="static/style.css">

		<!--
		<div class="foodside"></div>
		<!--
		<div class="bluebar shadow">
		    <div class="yellowbar"></div>

        </div>
		<div>-->
			<a href="./recipe">
            	<img src="{{url_for('static', filename='logo.png')}}" class="logo">
            </a>
			<p><a class="bottomlink" href="{{ url_for('add_account') }}">Add Account</a></p>

		{% block content %}
		{% endblock %}
		</div>
		<div class="center footer">
			<p><a class="bottomlink" href="{{ url_for('edit_recipe') }}">Edit Existing Recipe</a></p>
	 		<p><a class="bottomlink" href="{{ url_for('add_recipe') }}">Add New Recipe</a></p>
		</div>
		
	 	<!--<script src="static/js/jquery-1.9.0.js"></script>-->

		<script type="text/javascript">


			//Helper functions go here:
			function getCookie(name) {
				var cookie = decodeURIComponent(document.cookie);
				var ca = cookie.split(';');

				for(i = 0; i < ca.length; i++) {
					var c = ca[i];

					while(c.charAt(0) == ' '){
						c = c.substring(1);
					}

					if(c.indexOf(name) == 0) {
						return c.substring(name.length+1, c.length);
					}
				}
			}


		</script>
	</body>
 </html>


 
