{% extends "header.html" %}
{% block content %}
<div class="center">
	<div class="shadow">
   <body>
   <center>

            <font size="6">User name:</font><br>
            <input type="text" id="username"><br><br>
            <font size="6">Password:</font><br>
            <input type="password" id="pass0"><br><br>
            <button id="submit_button">Login</button>
       </center>
	   <p><a class="bottomlink" href="{{ url_for('add_account') }}">Add Account</a></p>
   </body>
    </div>
</div>


<script type="text/javascript">
    document.getElementById('submit_button').addEventListener('click',submitButton);

    function submitButton()
	{
        loginToServer();
	}
		
	function loginToServer()
	{
	account = {
				'username':document.getElementById("username").value,
				'password':document.getElementById("pass0").value
			};
	var req = new XMLHttpRequest();
	req.onreadystatechange = function()
	{
		if (this.readyState == 4)
		{
			if(this.status == 200)
			{
						window.location.href = 'recipe';
			}

			else
				{
					alert("Could not login. Please try again.");
				}
		}
	}
	req.open('POST','login',true);
	req.setRequestHeader("Content-Type","application/json")
	req.send(JSON.stringify(account));
}
</script>
{% endblock %}